
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Win</title>
</head>
<body style="text-align:center;">
    <header style="height:150px;"></header>
    <div> 
        <h1>Правильно!</h1>
    </div>
    <div style="margin-top: 20px;">
        <button onclick="location.href='@Url.Action("Index")'">Создать новую таблицу</button>
    </div>
</body>
</html>
